<style>
  .navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(125, 178, 209);
    padding: 10px;
  }

  .navbar a {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    position: relative;
    background-color: transparent; /* 设置按钮背景为透明 */
    font-size: 18px;
  }

  .navbar a:hover {
    background-color: rgba(161, 227, 219, 0.5);
  }

  .navbar a.selected {
    color: rgb(2, 48, 70);
  }
</style>

<div class="navbar"style="position: fixed; top: 0; width: 100%; z-index: 1000;">
  {% for item in site.data.navigation %}
    <a href="{{ item.link }}" {% if page.url == item.link %}class="selected"{% endif %}>
      {{ item.name }}
    </a>
  {% endfor %}
</div>